html,
body {
  margin: 0;
  font-family: 'Orbitron', serif;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(34,94,143);
  background: radial-gradient(circle, rgba(34,94,143,1) 0%, rgba(2,0,36,1) 100%, rgba(0,212,255,1) 100%);
}
